flask==2.3.3
sqlalchemy==2.0.21
flask-sqlalchemy==3.0.5
flask-migrate==4.0.5
pymysql==1.1.0
cryptography==41.0.4
marshmallow==3.20.1
flask-marshmallow==0.15.0
marshmallow-sqlalchemy==0.29.0
flask-cors==4.0.0
python-dotenv==1.0.0
reportlab==4.0.4
openpyxl==3.1.2
pandas==2.1.1
pulp==2.7.0
ortools==9.7.2996
wtforms==3.0.1
flask-wtf==1.1.1
gunicorn==21.2.0
